.form {font-family: Verdana;
padding: auto; 
margin: auto;
margin-top: 15px;
text-align: center; 
}

.assign {
padding: auto; 
margin: auto;
font-family: Verdana;
}

.list {
padding: auto; 
margin: 30px;
font-family: Verdana;
}

th {
  font-weight: bold;
  font-size: 17px;
}

td {
  font-size: 13px;
  padding-bottom: 100px;
}

label {
  display: block;
  text-align: center;
  font-size: 14px;
  margin: auto;
  padding: auto;
}
input {
margin: 3px;
padding: auto;
background-color: rgb(250, 250, 255);
text-align: left; 
}
body {
background-color: rgb(101, 143, 190);
text-align: center
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: rgb(135, 171, 212);
}